@model IEnumerable<CompanyRestaurant.MVC.Models.MaterialPriceVM.MaterialPriceViewModel>

@{
    ViewData["Title"] = "Malzeme Fiyatları Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Malzeme Fiyatı Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Fiyat</th>
            <th>Açıklama</th>
            <th>Tedarikçi</th>
            <th>Malzeme</th>
            <th>Ad</th>
            <th>Aktif Mi?</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var materialPrice in Model)
        {
            <tr>
                <td>@materialPrice.Price</td>
                <td>@materialPrice.Description</td>
                    @foreach (var item in ViewBag.suppliers as IEnumerable<Supplier>)
                    {
                        if (materialPrice.SupplierId == item.ID)
                        {
                        <td>@item.CompanyName</td>
                        }

                    }

                    @foreach (var item in ViewBag.materials as IEnumerable<Material>)
                    {
                        if (materialPrice.MaterialId == item.ID)
                        {
                        <td>@item.MaterialName</td>
                        }

                    }
                <td>@materialPrice.Name</td>
                <td>@(materialPrice.IsActive ? "Evet" : "Hayır")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@materialPrice.Id" class="btn btn-info">Detay</a>
                    <a asp-action="Edit" asp-route-id="@materialPrice.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@materialPrice.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
