@model IEnumerable<CompanyRestaurant.MVC.Models.RezervationVM.RezervationViewModel>

@{
    ViewData["Title"] = "Rezervasyon Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Rezervasyon Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Telefon Numarası</th>
            <th>E-Posta</th>
            <th>Rezervasyon Tarihi</th>
            <th>Başlangıç Saati</th>
            <th>Bitiş Saati</th>
            <th>Açıklama</th>
            <th>Müşteri</th>
            <th>Masa No</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rezervation in Model)
        {
            <tr>
                <td>@rezervation.Name</td>
                <td>@rezervation.Surname</td>
                <td>@rezervation.PhoneNumber</td>
                <td>@rezervation.Email</td>
                <td>@rezervation.ReservationDate.ToShortDateString()</td>
                <td>@rezervation.StartTime</td>
                <td>@rezervation.EndTime</td>
                <td>@rezervation.Description</td>
                @foreach (var item in ViewBag.customers as IEnumerable<Customer>)
                {
                    if (rezervation.CustomerId == item.ID)
                    {
                        <td>@item.Name</td>
                    }

                }
                <td>@rezervation.TableId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@rezervation.Id" class="btn btn-info">Detay</a>
                    <a asp-action="Edit" asp-route-id="@rezervation.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@rezervation.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>


              